.arrow {
  border: solid black;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
}
  
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
  
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
  
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
  
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.lower-third {
  background-color:black;
  color:white;
  padding-top:2em;
  padding-bottom:2em;
}

.section-two {
  padding-top: 5em;
  padding-bottom: 55em;
}

.avatar {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.spacer {
  padding-top:1em;
  padding-bottom:1em;
}
